USE [master]
GO
/****** Object:  Database [CAR_RENTAL_API]    Script Date: 9/22/2025 5:54:51 PM ******/
CREATE DATABASE [CAR_RENTAL_API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAR_RENTAL_API', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CAR_RENTAL_API.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAR_RENTAL_API_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CAR_RENTAL_API_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAR_RENTAL_API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAR_RENTAL_API]
GO
/****** Object:  Table [dbo].[tbl_Admin]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[active] [int] NULL,
	[salt] [nvarchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
 CONSTRAINT [pk_Admin_admin_id] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Booking]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NULL,
	[booking_status] [nvarchar](50) NULL,
	[discount] [decimal](18, 0) NULL,
	[deposit] [decimal](18, 0) NULL,
	[payment_type_id] [int] NULL,
	[total_price] [decimal](18, 0) NULL,
	[order_date] [date] NULL,
	[paid] [int] NULL,
	[deposit_cash] [decimal](18, 0) NULL,
	[deposit_cash_has_paid] [int] NULL,
	[payment_confirm] [int] NULL,
	[is_cancel] [int] NULL,
	[reason_cancel] [nvarchar](200) NULL,
	[complete_date] [date] NULL,
	[cancel_date] [date] NULL,
	[pickup_method] [int] NULL,
 CONSTRAINT [pk_Booking_booking_id] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Booking_details]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Booking_details](
	[booking_details_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NULL,
	[car_id] [int] NULL,
	[booking_details_status] [nvarchar](50) NULL,
	[booking_date] [date] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[actual_return_date] [date] NULL,
	[price_per_car] [decimal](18, 0) NULL,
	[fine] [decimal](18, 0) NULL,
	[refund] [decimal](18, 0) NULL,
	[status_return] [int] NULL,
 CONSTRAINT [pk_Booking_details_booking_details_id] PRIMARY KEY CLUSTERED 
(
	[booking_details_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Car]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Car](
	[car_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_id] [int] NULL,
	[brand] [nvarchar](50) NULL,
	[model] [nvarchar](50) NULL,
	[price_per_day] [decimal](18, 0) NULL,
	[car_status] [nvarchar](50) NULL,
	[image] [nvarchar](200) NULL,
	[license_plate] [nvarchar](50) NULL,
	[seat_count] [int] NULL,
	[color] [nvarchar](20) NULL,
	[car_type_id] [int] NULL,
	[active] [int] NULL,
	[district_id] [int] NULL,
	[city_id] [int] NULL,
	[address] [nvarchar](200) NULL,
 CONSTRAINT [pk_Car_car_id] PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Car_type]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Car_type](
	[car_type_id] [int] IDENTITY(1,1) NOT NULL,
	[car_type_name] [nvarchar](100) NULL,
 CONSTRAINT [pk_Car_type_car_type_id] PRIMARY KEY CLUSTERED 
(
	[car_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Category]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Category](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[description] [text] NULL,
	[active] [int] NULL,
 CONSTRAINT [pk_Category_cate_id] PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_City]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_City](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[city_name] [nvarchar](100) NULL,
 CONSTRAINT [pk_City_city_id] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customer](
	[cus_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[phone] [varchar](15) NULL,
	[address] [nvarchar](150) NULL,
	[city_id] [int] NULL,
	[active] [int] NULL,
	[cus_id_card] [varchar](20) NULL,
	[create_date] [date] NULL,
	[name] [nvarchar](100) NULL,
	[district_id] [int] NULL,
 CONSTRAINT [pk_Customer_cus_id] PRIMARY KEY CLUSTERED 
(
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_District]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_District](
	[district_id] [int] IDENTITY(1,1) NOT NULL,
	[district_name] [nvarchar](100) NULL,
	[city_id] [int] NULL,
 CONSTRAINT [pk_District_district_id] PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Payment_type]    Script Date: 9/22/2025 5:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payment_type](
	[payment_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [pk_Payment_type_payment_type_id] PRIMARY KEY CLUSTERED 
(
	[payment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Car] ON 

INSERT [dbo].[tbl_Car] ([car_id], [cate_id], [brand], [model], [price_per_day], [car_status], [image], [license_plate], [seat_count], [color], [car_type_id], [active], [district_id], [city_id], [address]) VALUES (1, 2, N'VINFAST', N'VINFAST VF3 2025', CAST(474000 AS Decimal(18, 0)), N'Waiting', N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1758463009/CARRENTAL_API/Images/8n7cjxpy.jpg.jpg', N'29B-21560', 4, N'purple', NULL, 1, 2, 1, N'42A')
SET IDENTITY_INSERT [dbo].[tbl_Car] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Car_type] ON 

INSERT [dbo].[tbl_Car_type] ([car_type_id], [car_type_name]) VALUES (1, N'Gasoline')
INSERT [dbo].[tbl_Car_type] ([car_type_id], [car_type_name]) VALUES (2, N'Electric')
INSERT [dbo].[tbl_Car_type] ([car_type_id], [car_type_name]) VALUES (3, N'Hybrid')
SET IDENTITY_INSERT [dbo].[tbl_Car_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Category] ON 

INSERT [dbo].[tbl_Category] ([cate_id], [title], [description], [active]) VALUES (1, N'SUV', N'Description SUV', 1)
INSERT [dbo].[tbl_Category] ([cate_id], [title], [description], [active]) VALUES (2, N'Sedan', N'Description Sedan', 1)
INSERT [dbo].[tbl_Category] ([cate_id], [title], [description], [active]) VALUES (3, N'SportCar', N'Description SportsCar', 1)
SET IDENTITY_INSERT [dbo].[tbl_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_City] ON 

INSERT [dbo].[tbl_City] ([city_id], [city_name]) VALUES (1, N'Hà Nội')
INSERT [dbo].[tbl_City] ([city_id], [city_name]) VALUES (2, N'Hồ Chí Minh')
INSERT [dbo].[tbl_City] ([city_id], [city_name]) VALUES (3, N'Hải Phòng')
SET IDENTITY_INSERT [dbo].[tbl_City] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_District] ON 

INSERT [dbo].[tbl_District] ([district_id], [district_name], [city_id]) VALUES (1, N'Ba Đình', 1)
INSERT [dbo].[tbl_District] ([district_id], [district_name], [city_id]) VALUES (2, N'Hoàn Kiếm', 1)
INSERT [dbo].[tbl_District] ([district_id], [district_name], [city_id]) VALUES (3, N'Tây Hồ', 1)
SET IDENTITY_INSERT [dbo].[tbl_District] OFF
GO
ALTER TABLE [dbo].[tbl_Admin] ADD  CONSTRAINT [default_Admin_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  CONSTRAINT [default_Booking_booking_status]  DEFAULT ('Waiting') FOR [booking_status]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  CONSTRAINT [df_Booking_paid]  DEFAULT ((0)) FOR [paid]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  DEFAULT ((0)) FOR [deposit_cash]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  DEFAULT ((0)) FOR [deposit_cash_has_paid]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  DEFAULT ((0)) FOR [payment_confirm]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  CONSTRAINT [df_Booking_is_cancel]  DEFAULT ((0)) FOR [is_cancel]
GO
ALTER TABLE [dbo].[tbl_Booking_details] ADD  CONSTRAINT [default_Booking_details_booking_details_status]  DEFAULT ('Waiting') FOR [booking_details_status]
GO
ALTER TABLE [dbo].[tbl_Booking_details] ADD  CONSTRAINT [df_Booking_details_status_return]  DEFAULT ((0)) FOR [status_return]
GO
ALTER TABLE [dbo].[tbl_Car] ADD  CONSTRAINT [default_Car_car_status]  DEFAULT ('Available') FOR [car_status]
GO
ALTER TABLE [dbo].[tbl_Car] ADD  CONSTRAINT [default_tbl_Car_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Customer] ADD  CONSTRAINT [default_Customer_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [fk_Booking_Customer_cus_id] FOREIGN KEY([cus_id])
REFERENCES [dbo].[tbl_Customer] ([cus_id])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [fk_Booking_Customer_cus_id]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [fk_Booking_Payment_type_payment_type_id] FOREIGN KEY([payment_type_id])
REFERENCES [dbo].[tbl_Payment_type] ([payment_type_id])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [fk_Booking_Payment_type_payment_type_id]
GO
ALTER TABLE [dbo].[tbl_Booking_details]  WITH CHECK ADD  CONSTRAINT [fk_Booking_details_Booking_booking_id] FOREIGN KEY([booking_id])
REFERENCES [dbo].[tbl_Booking] ([booking_id])
GO
ALTER TABLE [dbo].[tbl_Booking_details] CHECK CONSTRAINT [fk_Booking_details_Booking_booking_id]
GO
ALTER TABLE [dbo].[tbl_Booking_details]  WITH CHECK ADD  CONSTRAINT [fk_Booking_details_Car_car_id] FOREIGN KEY([car_id])
REFERENCES [dbo].[tbl_Car] ([car_id])
GO
ALTER TABLE [dbo].[tbl_Booking_details] CHECK CONSTRAINT [fk_Booking_details_Car_car_id]
GO
ALTER TABLE [dbo].[tbl_Car]  WITH CHECK ADD  CONSTRAINT [fk_Car_Car_type_car_type_id] FOREIGN KEY([car_type_id])
REFERENCES [dbo].[tbl_Car_type] ([car_type_id])
GO
ALTER TABLE [dbo].[tbl_Car] CHECK CONSTRAINT [fk_Car_Car_type_car_type_id]
GO
ALTER TABLE [dbo].[tbl_Car]  WITH CHECK ADD  CONSTRAINT [fk_Car_Category_cate_id] FOREIGN KEY([cate_id])
REFERENCES [dbo].[tbl_Category] ([cate_id])
GO
ALTER TABLE [dbo].[tbl_Car] CHECK CONSTRAINT [fk_Car_Category_cate_id]
GO
ALTER TABLE [dbo].[tbl_Car]  WITH CHECK ADD  CONSTRAINT [fk_tbl_Car_City_city_id] FOREIGN KEY([city_id])
REFERENCES [dbo].[tbl_City] ([city_id])
GO
ALTER TABLE [dbo].[tbl_Car] CHECK CONSTRAINT [fk_tbl_Car_City_city_id]
GO
ALTER TABLE [dbo].[tbl_Car]  WITH CHECK ADD  CONSTRAINT [fk_tbl_Car_District_district_id] FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_District] ([district_id])
GO
ALTER TABLE [dbo].[tbl_Car] CHECK CONSTRAINT [fk_tbl_Car_District_district_id]
GO
ALTER TABLE [dbo].[tbl_Customer]  WITH CHECK ADD  CONSTRAINT [fk_Customer_City_city_id] FOREIGN KEY([city_id])
REFERENCES [dbo].[tbl_City] ([city_id])
GO
ALTER TABLE [dbo].[tbl_Customer] CHECK CONSTRAINT [fk_Customer_City_city_id]
GO
ALTER TABLE [dbo].[tbl_Customer]  WITH CHECK ADD  CONSTRAINT [fk_Customer_District_district_id] FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_District] ([district_id])
GO
ALTER TABLE [dbo].[tbl_Customer] CHECK CONSTRAINT [fk_Customer_District_district_id]
GO
USE [master]
GO
